@import "tailwindcss";
@plugin "tailwindcss-animate";

/* tokens */
@import "@/design-system/tokens.css";
@import "../fonts/IRANSansX.css";

/* base */
@layer base {
    html {
        font-family: IranSansX, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
        direction: rtl;
    }
    * { @apply border-border; }
    body { @apply bg-background text-foreground; }
}

/* DaisyUI RTL support */
[dir="rtl"] .drawer-side {
    right: 0;
}

[dir="rtl"] .drawer-side .drawer-overlay {
    right: 0;
}
